.root {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 0;
    align-items: center;
}

.actions {
    display: flex;
    align-items: center;
    justify-self: end;
    gap: var(--mantine-spacing-xxs);
    margin-inline-start: var(--mantine-spacing-xxs);
    margin-inline-end: var(--mantine-spacing-xs);
    min-width: max-content;
    opacity: 0;
    pointer-events: none;
}

.root:is(
    :hover,
    :has(:focus-visible),
    :has([aria-haspopup='menu'][aria-expanded='true'])
) {
    grid-template-columns: minmax(0, 1fr) max-content;
}

.root:is(
        :hover,
        :has(:focus-visible),
        :has([aria-haspopup='menu'][aria-expanded='true'])
    )
    .actions {
    opacity: 1;
    pointer-events: auto;
}
